@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poiret+One&display=swap');
* {
    font-family: "Figtree", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #171717;
}

/* INICIO DE ESTILOS HEADER */

header {
    background-color: #171717;
    padding: 15px 30px;
    position: relative; /* Necesario para alinear el dropdown */
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto; /* Esto lo centra horizontalmente */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 40px;
    width: auto;
}

.logo-text {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

nav {
    position: relative; /* Necesario para alinear el dropdown */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #bababa;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #232323;
    color: white;
    border-radius: 5px;
}

/* MEDIA QUERIES - Responsive */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        flex: 1;
        justify-content: flex-start;
    }

    #main-nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav ul li {
        margin-left: 10px;
    }

    nav ul li a {
        padding: 8px 12px;
        display: block;
    }
}

/* FIN DE ESTILOS HEADER */

/* Contenedor principal de perfil */
.perfil-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección de opciones */
.opciones {
    padding: 20px;
    background-color: #171717;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    max-height: 200px;
}

.opciones h2 {
    text-align: center;
    font-size: 24px;
    color: #ffff;
}

.opciones ul {
    list-style: none;
    padding: 0;
}

.opciones ul li {
    padding: 10px;
    text-align: center;
    background-color: #171717;
    border: 1px solid #454545;
    margin: 5px 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.opciones ul li:hover {
    border-color: #747474;
}

/* Contenido */
.contenido {
    flex-grow: 1;
}

.contenido-seccion {
    display: none;
    padding: 20px;
    background-color: #171717;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editarPerfil h3,
#verResultados h3 {
    text-align: center;
    color: white;
}
h2{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 16px;
    color: #bababa;
}

form input, form select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #171717;
    color: white;
}

form button {
    padding: 10px;
    background-color: #2944ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #6679ff;
}

/* Estilos para los resultados de los tests */
#subMenuResultados {
    margin-top: 20px;
    text-align: center;
}

#subMenuResultados button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #171717;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #454545;
    transition: background-color 0.3s;
}

#subMenuResultados button:hover {
    border-color: #747474;
}

#resultados {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #bababa;
}
